* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
}

body {
    background-color: #01162E;
    color: #00FFC2;
}

#book-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    flex-wrap: wrap;
}

.book-card {
    border: 5px solid #00FFC2;
    min-width: 15%;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
}

.add-book-card {
    background-color: unset;
    color: #00FFC2;
    border: 5px solid #00FFC2;
    min-width: 15%;
    text-align: center;
    padding: 1em;
    margin: 0.25em;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.add-book-card:hover {
    background-color: #00FFC2;
    color: #01162E;
}

.book-card h2 {
    margin-top: 0.5em;
}

label {
    display: block;
}

h1 {
    text-align: center;
    font-size: 2em;
}

button,
input[type="submit"] {
    border: 2px solid #00FFC2;
    background-color: unset;
    color: #00FFC2;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #00FFC2;
    color: #01162E;
}

#new-book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF3B85;
    padding: 2em;
    visibility: hidden;
}

#popup-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.blurred-bg {
    filter: blur(5px);
}

.visible {
    visibility: visible !important;
}